.bumper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px 0;
}

.bumper-container {
    display: flex;
    width: 80vw;
    gap: 32px;
}

.bumper-text {
    width: 40%;
    text-align: center;
    align-content: center;
}

.bumper-contact-container {
    width: 60%;
    background: rgba(240, 2, 145, 0.3);
    border-radius: 15px;
    padding: 16px;
}


@media (max-width: 1023px) {
    .bumper-container {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .bumper-text, .bumper-contact-container {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .bumper-container {
        gap: 16px;
    }

    .bumper-contact-container {
        padding: 12px;
    }
}
