/*.skillset {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    height: 100vh;*/
/*    color: #F0F8FE;*/
/*    text-align: center;*/
/*    padding-top: 64px;*/
/*}*/

/*.skillset-description {*/
/*    margin: 24px 0 32px;*/
/*    width: 1200px;*/
/*}*/

/*.skillset-grid {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    gap: 20px;*/
/*    width: 100%;*/
/*    max-width: 1200px;*/
/*    margin-bottom: 32px;*/
/*}*/

/*.grid-item {*/
/*    position: relative;*/
/*    background-color: rgba(24, 26, 28, 0.5);*/
/*    padding: 40px;*/
/*    text-align: center;*/
/*    height: 387px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    overflow: hidden;*/
/*    z-index: 0;*/
/*}*/

/*.grid-item h3, .grid-item p {*/
/*    z-index: 2;*/
/*    position: relative;*/
/*}*/

/*.grid-item h3 {*/
/*    margin-bottom: 12px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 33.33%; !* Titel neemt 1/3 van de hoogte *!*/
/*}*/

/*.grid-item p {*/
/*    margin-bottom: 0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 66.66%; !* Paragraaf neemt 2/3 van de hoogte *!*/
/*}*/

/*!* Icon background *!*/
/*.grid-item::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    opacity: 0.5;*/
/*    z-index: 1;*/
/*}*/

/*.grid-item.code-skill::before {*/
/*    background-image: url('../../Assets/Images/code-skill.svg');*/
/*    fill: #f00291;*/
/*}*/

/*.grid-item.design-skill::before {*/
/*    background-image: url('../../Assets/Images/design-skill.svg');*/
/*}*/

/*.grid-item.management-skill::before {*/
/*    background-image: url('../../Assets/Images/management-skill.svg');*/
/*}*/

/*.grid-item::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background: radial-gradient(*/
/*            600px circle at var(--mouse-x) var(--mouse-y),*/
/*            rgba(255, 255, 255, 0.4),*/
/*            transparent 40%*/
/*    );*/
/*    z-index: 1;*/
/*    opacity: 0;*/
/*    transition: opacity 300ms;*/
/*}*/

/*.grid-item:hover::after {*/
/*    opacity: 1;*/
/*}*/

.skillset-container {
    /*max-width: 1200px;*/
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 64px 16px;
}

.skillset-title {
    margin-bottom: 24px;
}

.skillset-description {
    margin-bottom: 48px;
}

.skillset-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
}

.skillset-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.icon-circle {
    background-color: rgba(240, 2, 145, 0.5);

    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.skill-icon {
    width: 32px;
    height: 32px;
    fill: #f00291;
}

.skill-item-title {
    font-size: 36px;
    margin: 16px auto
}

.skillset-grid .skillset-grid-item:nth-child(1) .icon-circle,
.skillset-grid .skillset-grid-item:nth-child(4) .icon-circle {
    background-color: rgba(240, 2, 145, 0.3);
}

.skillset-grid .skillset-grid-item:nth-child(1) .skill-icon,
.skillset-grid .skillset-grid-item:nth-child(4) .skill-icon {
    fill: rgba(240, 2, 145, 1);
}

.skillset-grid .skillset-grid-item:nth-child(2) .icon-circle,
.skillset-grid .skillset-grid-item:nth-child(6) .icon-circle {
    background-color: rgba(80, 8, 224, 0.3);
}

.skillset-grid .skillset-grid-item:nth-child(2) .skill-icon,
.skillset-grid .skillset-grid-item:nth-child(6) .skill-icon {
    fill: rgba(80, 8, 224, 1);
}

.skillset-grid .skillset-grid-item:nth-child(3) .icon-circle,
.skillset-grid .skillset-grid-item:nth-child(5) .icon-circle {
    background-color: rgba(227, 176, 255, 0.3);
}

.skillset-grid .skillset-grid-item:nth-child(3) .skill-icon,
.skillset-grid .skillset-grid-item:nth-child(5) .skill-icon {
    fill: rgba(227, 176, 255, 1);
}



/* Responsive for tablet and mobile */
@media (max-width: 1023px) and (min-width: 768px) {
    .skillset-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media (max-width: 767px) {
    .skillset-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .icon-circle {
        width: 60px;
        height: 60px;
    }

    .skill-icon {
        width: 30px;
        height: 30px;
    }
}
