.skillset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    color: #F0F8FE;
    text-align: center;
    padding-top: 64px;
}

.skillset-description {
    margin: 24px 0 32px;
    width: 1200px;
}

.skillset-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 32px;
}

.grid-item {
    position: relative;
    background-color: rgba(24, 26, 28, 0.5);
    padding: 40px;
    text-align: center;
    height: 387px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 0;
}

.grid-item h3, .grid-item p {
    z-index: 2;
    position: relative;
}

.grid-item h3 {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33.33%;
}

.grid-item p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66.66%;
}

.grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 1;
}

.grid-item.code-skill::before {
    background-image: url('../../Assets/Images/code-skill.svg');
}

.grid-item.design-skill::before {
    background-image: url('../../Assets/Images/design-skill.svg');
}

.grid-item.management-skill::before {
    background-image: url('../../Assets/Images/management-skill.svg');
}

.grid-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%
    );
    z-index: 1;
    opacity: 0;
    transition: opacity 300ms;
}

.grid-item:hover::after {
    opacity: 1;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .skillset-description {
        width: 80vw;
    }

    .skillset-grid {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .grid-item {
        width: 80vw;
        height: auto;
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .skillset {
        padding-top: 32px;
        height: auto;
        display: flex;
    }

    .skillset-description {
        width: 90vw;
        margin-bottom: 16px;
    }

    .skillset-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .grid-item {
        width: 90vw;
        height: auto;
        padding: 32px;
        margin-bottom: 16px auto;
    }
}
