@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700;800&display=swap');

:root {
  --primary-gradient: linear-gradient(90deg, #f00291, #5008e0);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  /*background-color: #181a1c;*/
  /*background-color: #333333;*/
  background-color: #0B0410;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
}

h1 {
  font-size: 128px;
  line-height: 140px;
  font-weight: 700;
  color: #F0F8FE;
}

.highlight-pink {
  font-weight: 800;
  color: #f00291;
}

.highlight-blue {
  font-weight: 800;
  color: #5008e0;
}

.highlight-lila {
  font-weight: 800;
  color: #E3B0FF;
}


h2 {
  font-size: 96px;
  line-height: 105px;
  font-weight: 500;
  color: #F0F8FE;
}

h3 {
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  color: #F0F8FE;
}

h4 {
  font-size: 48px;
  line-height: 52px;
  font-weight: 500;
  color: #F0F8FE;
}

h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  color: #F0F8FE;
}

p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #F0F8FE;
}

a {
  font-size: 20px;
  color: #F0F8FE;
}

li {
  list-style: none;
}

@media (max-width: 767px) {
  h1 {
    font-size: 96px;
    line-height: 108px;
  }

  h2 {
    font-size: 72px;
    line-height: 80px;
  }

  h3 {
    font-size: 36px;
    line-height: 42px;
  }

  h4 {
    font-size: 36px;
    line-height: 42px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
  }

  a {
    font-size: 16px;
  }
}