.about-book-container {
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 64px 16px;
}

.about-book-title {
    font-family: 'Special Elite', sans-serif;
    margin-bottom: 24px;
}

.about-book-summary {
    font-family: 'Special Elite', sans-serif;
}

.about-book-description {
    margin-bottom: 16px;
}

.about-book-description p{
    margin: 0;
}

.about-book-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    /*background: blue;*/
}

.about-book-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    /*background: red;*/
}

.book {
    --rotation: 18deg;
    width: var(--width);
    height: var(--height);
    transform: rotate3d(0, 1, 0, var(--rotation)) translateZ(-50px) scale(var(--scale));
    transform-origin: center center;
    transition: transform 0.2s ease;
    transform-style: preserve-3d;
    will-change: transform;
    position: relative;
    --scale: 0.78;
}

.book:hover {
    --rotation: 30deg;
    --scale: 1;
}

.book:active {
    --rotation: 20deg;
    --scale: 0.78;
}

.book:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -60px;
    height: 60px;
    width: 100%;
    background: rgb(0 0 0 / 55%);
    border-radius: 0;
    filter: blur(40px);
    z-index: -1;
    transform: translate3d(-34px, 0, -40px);
}

.spine {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    transform: rotateY(-75deg) translateZ(30px);
    overflow: hidden;
}

.spine-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


.book .cover {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transform: translateZ(30px);
}

.cover-image {
    height: 100%;
}

@media (min-width: 780px) {
    .book {
        --width: 300px;
        --height: 400px;
        --fontSize: 1.8em;
        --scale: 1;
    }

    .book:active {
        --scale: 0.95;
    }
}

@media (max-width: 780px) {
    .about-book-container {
        grid-template-columns: 1fr;
    }
}

